* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00A8B3;
    /* background-image: url('./assets/img01.png');
    background-position: block; */
}


/* landing page */

.ff-landing-page {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ff-landing-page h1 {
    color: #383838;
}


/* image in main */

#bg-right {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #00A8B3;
    z-index: 1;
}

#ff-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* css for login */

.ff-login-page {
    width: 500px;
    height: 100%;
    display: flex;
    background-color: #fff;
    z-index: 2;
}

.ff-loginform .ff-error {
    padding-bottom: 15px;
    color: #00A8B3;
}

.ff-login {
    padding: 50px;
    padding-top: 200px;
    width: 500px;
    height: 100%;
    display: flex;
    position: absolute;
    background-color: #fff;
}


/* css for form */

.ff-loginform form {
    display: block;
    position: flex;
    margin: auto;
}

.ff-loginform {
    position: relative;
    display: block;
    background-color: #fff;
}

.ff-field {
    padding-bottom: 15px;
    width: 400px;
}

.ff-field label {
    font-size: 1rem;
    color: #383838;
}

.ff-field input {
    display: block;
    padding: 10px;
    width: 100%;
    height: 40px;
    transition: .3s linear;
}

.ff-field input:hover {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(226, 226, 226, 0.4);
}

#btnLogin {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #F2C54B;
    transition: .3s linear;
    color: #fff;
    font-size: 1rem;
}

#btnLogin:hover {
    background-color: #00A8B3;
    color: #fff;
}

.ff-loginform h2 {
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 2.5rem;
    color: #F2C54B;
}

.ff-loginform span {
    margin-top: 20px;
    padding: 5px;
    float: right;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 1rem;
    color: #383838;
}


/* css for social login mock buttons */

.ff-social-gorup {
    width: 100px;
    display: contents;
    justify-content: center;
    align-items: center;
}

.ff-social-gorup h3 {
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 300;
    font-size: 1rem;
    color: #383838;
}

.ff-socialLogin {
    display: flex;
    justify-content: inherit;
    flex-flow: row wrap;
}

.ff-socialLogin .ff-social {
    margin-top: 10px;
    /* width: 49%; */
    /* width: 20%; */
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* border: 1px solid #e2e2e2; */
    box-sizing: border-box;
    transition: .3s linear;
    color: #8a8a8a;
    font-size: 1rem;
    font-weight: 600;
}

.social_azrue:hover {
    /* background-color: #005CB3;
    border-color: #005CB3; */
    color: #005CB3;
    /* color: #fff; */
}

.social_bamboo:hover {
    /* background-color: #20A169;
    border-color: #20A169; */
    color: #20A169;
    /* color: #fff; */
}

.social_adp:hover {
    /* background-color: rgb(207, 100, 100); */
    color: rgb(207, 100, 100);
    /* color: #fff; */
}

.social_okta:hover {
    /* background-color: rgb(73, 158, 211); */
    /* border-color: rgb(73, 158, 211); */
    color: rgb(73, 158, 211);
    /* color: #fff; */
}


/* css for passwords notice */

.notice-pw {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #e2e2e2;
    width: 100%;
}

.notice-pw #notice-title {
    float: none;
    font-weight: 500;
    font-size: 1rem;
    color: #8a8a8a;
}

.notice-pw p {
    padding: 5px;
    font-size: .8rem;
    font-weight: 300;
}

.notice-pw #click-here {
    text-decoration: none;
    font-size: .8rem;
    font-weight: 400;
    color: #00A8B3;
}

.temp-footer {
    padding-left: 25%;
    display: block;
    position: sticky;
    bottom: 0;
    position: none;
    color: #8a8a8a;
    background-color: #fff;
}